<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
      <add name="KodPocztowy" connectionString="Data Source=(LocalDB)\v11.0; AttachDbFilename=|DataDirectory|\TestDBubez.mdf; Integrated Security=True"
           providerName="System.Data.SqlClient" 
             />
    </connectionStrings>
    <system.web>
      <globalization  fileEncoding="windows-1250" requestEncoding="utf-8" responseEncoding="utf-8" />
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
      <sessionState mode="InProc" timeout="5" cookieless="AutoDetect" ></sessionState>
      <customErrors mode="On" defaultRedirect="~/errors/przekroczonyczas.aspx">
        <error statusCode="408" redirect="~/errors/przekroczonyczas.aspx"/>
      </customErrors>
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>

<!--
-->
<!--<add name="KodPocztowy" connectionString="Data Source=SQL5004.Smarterasp.net;Initial Catalog=;User Id=;Password=;"-->
